
.cea{
 
    width: 100px;
    height: 100px;
 }
body{
    background-color: aquamarine;
}
div.content{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
     box-sizing: content-box;
    margin:100px 500px;
    padding:20px;
    border:10px solid #f7ff12;
    border-radius: 15%;
}
